*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-image: url('todo.webp');
  }
.container {
    width: 100%;
    min-height: 100vh;
    background-image: img src("bg.jpg");
    padding: 10px;
}
.todo-app {
width: 100%;
max-width: 540px;
background: #69168a;
margin: 100px auto 20px;
padding: 40px 30px 70px;
border-radius: 10px;
}
.todo-app h2{
    color:rgb(230, 113, 54);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    margin-bottom: 30px;
}
.todo-app h2 img{
    width: 25px;
    margin-left: 10px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
flex: 1;
border: none;
outline: none;
background: transparent;
padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(230, 113, 54);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;   
}
ul li{
    list-style: none;
    font-size: 17px;
    color: #fff;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: ' ';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #fff;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.png);
}
ul li span{
    position:absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}